<div class="summary-component">
    <header class="header">
        <p class="section-main-title">{{transactionDescription}}</p>
    </header>
    
    <main>
        <h1 class="total-of-money-moved"><span *ngIf="typeOfTransaction == 'saidas'">-</span>{{300000 | currency}}<span class="cents">.90</span></h1>
        <ul class="transaction-list">
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    <div class="transaction-area">
                        <div class="progress-bar">
                            <div class="progress-bar-inside" [ngStyle]="{'background-color' : typeOfTransaction == 'saidas' ? '#ff8787' : '#8ce99a'}"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    <div class="transaction-area">
                        <div class="progress-bar">
                            <div class="progress-bar-inside" [ngStyle]="{'background-color' : typeOfTransaction == 'saidas' ? '#ff8787' : '#8ce99a'}"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    <div class="transaction-area">
                        <div class="progress-bar">
                            <div class="progress-bar-inside" [ngStyle]="{'background-color' : typeOfTransaction == 'saidas' ? '#ff8787' : '#8ce99a'}"></div>
                        </div>
                    </div>
                </div>
            </li>                
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    <div class="transaction-area">
                        <div class="progress-bar">
                            <div class="progress-bar-inside" [ngStyle]="{'background-color' : typeOfTransaction == 'saidas' ? '#ff8787' : '#8ce99a'}"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="know-more-section" style="margin-top: 40px">
            <a routerLink="/relatorios" class="more-transactions-link">Mais operações</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-right" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </div>
    </main>
</div>