.row {
    display : grid;
    grid-template-columns: 1.2fr 6fr 2fr 2fr;
}

.table {
    margin-top : 1.6rem;
    position: relative;
}

.table-header {
    padding : 1.2rem 0;
    position: sticky; top: 0;
    background-color: #fff;
    border-bottom: solid 1px #e9ecef;
    border-top: solid 1px #e9ecef;
}

.row-header {
    align-items: center;
}

.data-label {
    font-size : 1.2rem;
    font-weight: 500;
}

.icon {
    width : 16px;
    height: 16px;
}

.flex {
    display : flex;
    gap : 0.8rem;
    align-items: center;
}

.table-body .cell {
    padding: 1.6rem 0;
}

.border-bottom {
    border-bottom: solid 1px #e9ecef;
}

.table-body .row {
    cursor: pointer;
}

.table-body .row:hover  {
    background-color:  rgba(28, 127, 214, 0.0866);
    border-radius: 2px;
}

.table-body .row:hover .border-bottom {
    border-bottom: solid 1px transparent;
}

.cash-in {
    stroke : #94d82d;
}

.cash-out {
    stroke :#ffa8a8
}

.filter-and-export-btn {
    display : inline-block;
    cursor: pointer;
    border-radius: 10px;
    border : none;
    width: 100%;
    
    transition: all 0.3s;
}

.filter-and-export-btn {
    display : flex;
    background-color: transparent;
    align-items : center;
    gap : 0.8rem;
}

.no-match-cover {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur(6px);
}

.section-main-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color :  #495057;
    font-size : 1.8rem;
}

.no-math-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.user-initials {
    display : flex;
    align-items: center;
    justify-content: center;
    width : 30px;
    height : 30px;
    color : #fff;
    background-color: #1c7ed6;
    border-radius: 50%;
}

.transaction-status-btn {
    cursor: pointer;
    padding : 0.4rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: solid 1px blue;
    border-radius: 2px;
}

.full-height {
    height: 100vh;
}

/*classes related to trasaction status*/
button.pending {
    border :solid 1px #ffd8a8;
    color : #fab005;
}

button.canceled {
    border : solid 1px#ffa8a8;
    color : #ffa8a8;
}

p.canceled {
    text-decoration: line-through;
}