<div class="summary-component">
    <header class="header">
        <p class="company-name">FASHION E-COMMERCE, LDA</p>
    </header>
    
    <main>
        <h1 class="welcome-message">Bem vinda, Joana!</h1>
        <ul class="transaction-list">
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    
                </div>
            </li>
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    
                </div>
            </li>
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    
                </div>
            </li>                
            <li>
                <div class="transaction-item">
                    <p>Recipiente da transacção</p>
                    
                </div>
            </li>
        </ul>
        <div class="know-more-section" style="margin-top: 40px">
            <a href="#" class="more-transactions-link">Mais operações</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-right" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </div>
    </main>
</div>
