.date-filter-component-header {
    padding : 2.4rem;
    border-bottom: solid 1px #e9ecef;
}

.date-filter-component-body {
    padding : 2.4rem;
    display : flex;
    gap : 1.8rem;
    align-items: center;
    justify-content: center;
}

.select-element {
    background-color: rgba(28, 127, 214, 0.0845);
    display : flex;
    position : relative;
    align-items: center;
    justify-content : space-between;
    border-radius: 5px;
    padding : 0.8rem;
}


.main-filter-title {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
}

.icon {
    width : 2.4rem;
}

p {
    font-size: 1.4rem;
}

.grid-6-6 {
    display : grid;
    gap : 0.8rem;
    grid-template-columns: repeat(3, 1fr);
}

.date-input {
    grid-column: 1/-1;
}

.month {
    padding : 1.2rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.3s;
    background-color: rgba(28, 127, 214, 0.0845);
}

.select-down {
    cursor: pointer;
}

.month:hover {
    background-color: rgba(28, 127, 214, 0.384);
}


/**/
.date-filter-option {
    position : absolute;
    top : 38px;
    left : 0;
    width: 100%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
    border : solid 1px  #e9ecef;
}

.option-list {
    display : flex;
    padding : 1.8rem;
    flex-direction: column;
}


.option-list li {
    padding : 1.2rem;
    font-size: 1.4rem;
    cursor: pointer;
    list-style: none;
}

.default-filter-list {
    border-bottom: solid 1px #e9ecef;
}