<div class="modal-window-component">
    
    <!-- /////  MODAL BODY  ////// -->
    <!-- ///// MODAL HEADER ///// -->
    <div class="header-section">
        <h1 class="section-main-title">DIGITE O CÓDIGO DO SMS</h1>
    </div>

   <!-- /////  MODAL BODY  ////// -->
   <div class="modal-body">
        <form class="form" action="" method="post">
           
            
            <div class="form-group submit-and-cancel">
                <button class="form-button cancel-btn" (click)="closeModalWindowEvent()">Cancelar</button>
                <button class="form-button submit-btn" disabled="true">Salvar</button>
            </div>
        </form>
    </div>

</div>