.search-result-component {
    position : absolute;
    top : 50px;
    left : 0;
    width : 75%;

    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    z-index: 100;
    display : flex;
    flex-direction: column;
}

.results-box {
    display: flex;
    flex-direction: column;
    border-top : solid 1px  #e9ecef;
}


.section-main-title {
    font-weight: 400 !important;
    color : #8f8f8f !important;
    font-size : 1.4rem !important;
    padding : 1.8rem !important;
    text-align: left !important;
}

.search-result {
    background-color: rgba(28, 127, 214, 0.145);
}

.default-search {
    color : #495057;
}