<div class="pay-teams-component">
    
    <div class="search-input-area relative-positioned">
        <app-search-input (textChange)="onTextChange($event)" [placeholder]="'Procure pelos beneficiários aqui'"></app-search-input>
        <app-search-result-window [userTypedInSearcData]="userTypedInSearcData"></app-search-result-window>
    </div>

    <div class="beneficiary-container">
        <app-no-data-component [noDataMsg]="'Sem Beneficiários'" [showAditionalLinks]="false"></app-no-data-component>

    </div>

    <div class="forward-and-backward-btn">
        <div class="close-section">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            <span class="inline-block">Voltar</span>
        </div>

        <div class="close-section" (click)="goNextStep()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
            <span class="inline-block">Seguinte</span>
        </div>
    </div>

</div>

<!-- ///// SHADOW TO HIGHLIGHT THE MODAL WINDOW -->
<div class="shadow" *ngIf="false"></div>

<app-code-isert-modal-window *ngIf="false"></app-code-isert-modal-window>