*  {
    margin : 0;
    padding : 0;
}

html {
    font-family : 'Rubik', sans-serif;
    font-size: 62.5%;
    color : #444;
    
}

.container {
    padding : 0 7.0rem;
}

.relative-positioned {
    position: relative;
}

.absolute-positioned {
    position : absolute;
}

.shadow {
    position : fixed;
    top : 0;
    left : 0;
    width : 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(71, 73, 75, 0.726);
}

.transaparent-text {
    color : transparent;
}

.no-border {
    border : none;
}

.padding-bottom-16 {
    padding-bottom: 1.6rem;
}

.paragraph {
    font-size: 1.6rem;
}