*  {
    margin : 0;
    padding : 0;
}

html {
    font-family : 'Rubik', sans-serif;
    font-size: 62.5%;
    color : #444;
    
}

.container {
    padding : 0 7.0rem 0 7.0rem;
}

.relative-positioned {
    position: relative;
}

.absolute-positioned {
    position : absolute;
}

.shadow {
    position : fixed;
    top : 0;
    left : 0;
    width : 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(233, 236, 239, 0.726);
    backdrop-filter: blur(4px);
}