<div class="global-container">
    <div class="payment-component container">

        <!-- 
            //// LOGO AND CLOSE WINDOW SECTION ////
        -->
        <div class="logo-and-close-icon flex">

            <div class="logo-section">
                <svg width="" class="icon" viewBox="0 0 212 284" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="32.8674" cy="32.8674" r="32.8674" fill="#2C322A"/>
                    <circle cx="32.8674" cy="105.622" r="32.8674" fill="#2C322A"/>
                    <circle cx="105.622" cy="105.622" r="32.8674" fill="#2C322A"/>
                    <circle cx="32.8674" cy="178.378" r="32.8674" fill="#2C322A"/>
                    <circle cx="32.8674" cy="251.133" r="32.8674" fill="#2C322A"/>
                    <circle cx="105.622" cy="32.8674" r="32.8674" fill="#2C322A"/>
                    <circle cx="178.378" cy="32.8674" r="32.8674" fill="#2C322A"/>
                </svg>  
    
                <a href="" class="inline-block" style="text-decoration: none; color : #212529">
                    <p>Academia</p>
                    <p>$tartup</p>
                </a>
            </div>

            <div class="close-section">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="goHome()" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <span class="inline-block">Fechar janela</span>
            </div>

        </div>


        <!-- 
            //// PAYMENT SECTION ////
        -->
        <div class="payment-option-section">
            <div class="header-section">
                <app-step-tracker [stepsNumber]="3" [stepCompleted]="stepsFilled"></app-step-tracker>
                <h1 class="section-main-title txt-center">{{pageMainTitle}}</h1>
            </div>

            <div class="body-section">
                <router-outlet></router-outlet>
            </div>
        </div>
        

    </div>
</div>


