<div class="modal-window-component">
    
    <!-- ///// MODAL HEADER ///// -->
    <div class="header-section">
        <h1 class="section-main-title">DETALHES DO PAGAMENTO</h1>
    </div>

    <!-- ///// MODAL BODY ////// -->
    <div class="modal-main-content">
        

        
    </div>

    <!-- /////  MODAL FOOTER  ////// -->
    <div class="modal-body">
        <form class="form" action="" method="post"> 
            <div class="form-group submit-and-cancel">
                <button class="form-button cancel-btn" (click)="closeModalWindowEvent()">Cancelar</button>
                <button class="form-button submit-btn" (click)="openAuthModalWindow()">Autenticar</button>
            </div>
        </form>
    </div>

</div>